.all-deals p,.pfs-10-20{font-family:'../fonts/gloriola/gloriolabold'}.pfs-10-20,.pfs-adeals{vertical-align:middle;line-height:40px;letter-spacing:1px}#tabla-oferta h3{font-size:30px;font-weight:600;text-align:center;width:100%;margin:20px 0}#tabla-oferta h3:after{content:none}.ten-twenty{background:#FFC600;color:#404042;padding:0}.ten-twenty p{color:#404042;text-align:center;font-weight:700}.all-deals p,.tab-oferta1 p{color:#FFC600;text-align:center}.pfs-10-20{font-size:38px;margin:0;padding:15px 0}.ten-twenty span{font-size:20px;font-weight:600}.tab-oferta1{background:#404042;margin:0;padding:20px 0;height:110px}.tab-text-izq-1{font-size:40px}.tab-text-izq-2{font-size:15px;font-weight:400}.all-deals span,.llamadas-p-1,.llamadas-p-2,.num-gratis p,.recarga-col-5 p,.roaming-tabla,.tab-radio-prip p,.tab-redes p,.wapp p{font-weight:600}.all-deals{background:#404042;padding:0}.pfs-adeals{font-size:38px;margin:0;padding:15px 0}.all-deals span{font-size:20px}.tab-adeals{background:#CAC1BA;margin:0;padding:20px 0;height:110px}.tab-adeals p{color:#404042}.adeals-title{font-size:30px}.adeals-subtitle{font-size:25px}.dash{border:3px dashed red}.pl-3,.recarga-col-1,.recarga-col-2,.recarga-col-4{border-left:4px solid #fff}.desk-hidden{display:none}.tab-llamadas,.tab-radio-prip,.tab-redes{text-align:center;padding:15px 0;margin-top:4px;border-left:4px solid #fff}.rprip,.tab-radio-prip,.tab-redes,.wapp{height:70px;margin-top:4px}.tab-llamadas p,.tab-radio-prip p{color:#2d2d2d}.tab-radio-prip p,.tab-redes p{font-size:35px;padding-top:5px}.num-gratis{background:#43B02A;height:100px;margin-top:4px}.num-gratis p{color:#2d2d2d;padding-top:20px;text-align:left;float:left}.cinco-gigante{font-size:55px;margin-right:12px;vertical-align:-moz-middle-with-baseline;padding-left:13px;padding-top:25px;padding-bottom:50px;float:left;line-height:0}.wapp{background:#FFC600}.wapp p{font-size:20px;color:#404042;padding:17px 0;text-align:center;line-height:24px}.wapp .ion-social-whatsapp{font-size:28px}.rprip{background:#FF970D;padding:0 5px}.dias-recarga p,.recarga-col-1 p,.recarga-col-2 p,.recarga-col-3 p,.recarga-col-4 p,.rprip p{color:#2d2d2d;font-weight:600;text-align:center;padding-top:6px}.recarga-col-5 p{color:#2d2d2d;text-align:left;padding-top:6px;padding-left:70px}.dias-recarga,.recarga-col-1{background:#B2A49C}.recarga-col-2,.recarga-col-3,.recarga-col-5{background:#D2CBC5}.recarga-col-4,.tab-llamadas{background:#00A9CE}.dias-recarga,.recarga-col-1,.recarga-col-2,.recarga-col-3,.recarga-col-4,.recarga-col-5{height:auto;margin-top:4px;padding-bottom:5px}.tab-llamadas{height:100px}.tab-llamadas p,.tab-radio-prip p,.tab-redes-invert p{font-family:'../fonts/gloriola/gloriolaregular'}.llamadas-p-2{font-size:40px}.tab-redes{background:#404042}.tab-redes p{color:#FEC62E}.tab-redes img{margin-top:-10px;margin-left:4px}.tab-radio-prip{background:#FF970D}.roaming-tabla{text-align:center;font-size:28px;margin:25px 0 35px;line-height:34px}@media (max-width:1200px){.llamadas-p-2,.pfs-10-20,.pfs-adeals{font-size:30px}.tab-adeals,.tab-oferta1{height:90px;padding:10px 0}.adeals-title{font-size:28px;margin:0 0 5px}.cinco-gigante{font-size:40px}.ng-texto,.rprip p,.wapp p{font-size:20px}.num-gratis p{padding-top:20px}.num-gratis,.tab-llamadas{height:90px}.tab-llamadas{padding:10px 0 0}.wapp p{padding:6px 0}.wapp img{height:29px}}.verde_nuevo{background:#43B02A;text-align:center}.verde_nuevo p{color:#fff;padding-top:10px}@media (max-width:991px){.hidden_mobile{display:none}.desk-hidden{display:block;margin-bottom:30px}.beneficios-paquetes li{margin-bottom:15px}.pfs-10-20,.pfs-adeals{font-size:50px}.pfs-adeals{font-family:'../fonts/gloriola/gloriolabold'}.all-deals p{font-family:'../fonts/gloriola/gloriolamedium'}.all-deals span,.ten-twenty span{font-size:25px}.tab-redes-invert{background:#FFC600}.dias-recarga{background:#00A9CE}.tab-llamadas{background:#43B02A}.dias-recarga,.num-gratis,.rprip,.tab-llamadas,.tab-radio-prip,.tab-redes-invert,.verde_nuevo,.wapp{height:auto!important;border:none;padding:10px;margin:0}.tab-redes-invert p{color:#404042}.dias-recarga p,.num-gratis p,.rprip p,.tab-llamadas p,.tab-radio-prip p,.tab-redes-invert p,.wapp p{font-size:20px;font-weight:400}.cinco-gigante{font-size:30px;margin-right:5px;vertical-align:middle;line-height:0}.pl-3{border-left:none}.num-gratis{float:left;width:100%;height:70px!important}.num-gratis p,.num-gratis span{height:auto;margin:0;padding:0}.recarga_m{margin-bottom:30px!important;padding-right:0!important}}.loyalty_mobile{display:none}.azul_pl-3,.gris_pl-3,.verde_pl-3{border-left:5px solid #fff;text-align:center;color:#2d2d2d;font-size:20px;font-family:'../fonts/gloriola/gloriolamedium',sans-serif;padding:8px 0}.lealtad_recarga,.mini_mes{background:#333;color:#ffc600;text-align:center;font-size:20px}.mini_mes{padding:8px 0}.azul_pl-3{background:#1ba9cc}.verde_pl-3{background:#49ad35}.gris_pl-3{background:grey; color:#14171A;}.bck_unefon_yellow{background:#ffc600}.bck_unefon_yellow span.big_number{font-family:'../fonts/gloriola/gloriolabold',sans-serif;font-size:30px}.bck_unefon_yellow span.mini_number{font-family:'../fonts/gloriola/gloriolabold',sans-serif;font-size:22px;margin-right:2px}.bck_light_gray{background:#E6E6E6}.bck_light_gray,.bck_unefon_yellow{border-left:5px solid #fff;text-align:center;font-size:20px;font-family:'../fonts/gloriola/gloriolamedium',sans-serif;padding:21px 0;margin:5px 0;height:70px}.lealtad_benefits,.lealtad_recarga span.big_number,.lealtad_recarga span.mini_number{font-family:'../fonts/gloriola/gloriolabold',sans-serif}.lealtad_benefits{padding:22px 0;font-size:23px;letter-spacing:1px}.lealtad_recarga{padding:38px 0;vertical-align:middle;border-top:5px solid #fff}.lealtad_recarga p{color:#ffc600}.lealtad_recarga span.big_number{font-size:30px}.lealtad_recarga span.mini_number{font-size:22px;margin-right:2px}@media all and (max-width:1200px){.azul_pl-3,.gris_pl-3,.verde_pl-3{border-left:3px solid #fff;font-size:18px}.bck_unefon_yellow span.big_number{font-family:'../fonts/gloriola/gloriolabold',sans-serif;font-size:27px}.bck_unefon_yellow span.mini_number{font-family:'../fonts/gloriola/gloriomedium',sans-serif;font-size:22px;margin-right:2px}.lealtad_recarga{border-top:3px solid #fff;padding:36px 0}.bck_light_gray,.bck_unefon_yellow{border-left:3px solid #fff;margin:3px 0}.lealtad_benefits{font-family:'../fonts/gloriola/gloriolabold',sans-serif;font-size:20px}}@media all and (max-width:990px){.loyalty_desktop{display:none}.loyalty_mobile{display:block}.loyalty_mobile p{color:#ffc600}.l_mob_recarga{padding:20px 0 4px}.l_mob_recarga p{font-size:25px}.loyalty_mobile span.big_number{font-family:'../fonts/gloriola/gloriolabold',sans-serif;font-size:30px}.loyalty_mobile span.mini_number{font-family:'../fonts/gloriola/gloriolabold',sans-serif;font-size:22px;margin-right:2px}.lealtad_benefits{font-family:'../fonts/gloriola/gloriolamedium',sans-serif;font-size:20px;line-height:28px}.azul_pl-3,.bck_unefon_yellow,.gris_pl-3,.verde_pl-3{border-left:0;margin:0}.bck_unefon_yellow{height:auto;padding:20px}.gris_pl-3{margin-bottom:20px}}

/* colors */
.paquetes-title h1 {
  font-size: 52px; }
.paquetes-title p {
  font-size: 14px; }

.tabla-puc .titulo-tabla {
  text-align: center; }
  @media (max-width: 1200px) {
    .tabla-puc .titulo-tabla {
      font-size: 25px; } }
.tabla-puc .table-planes {
  padding-right: 10px; }
  .tabla-puc .table-planes .plan {
    background-color: #FFC600;
    height: 60px; }
    .tabla-puc .table-planes .plan p {#333
      text-align: right;
      margin-right: 20px;
      font-family: "../fonts/gloriola/gloriolaregular"; }
    .tabla-puc .table-planes .plan sup {
      font-size: 50%; }
  .tabla-puc .table-planes .renta {
    background: #00A9CE;
    margin: 0;
    padding: 20px 0;
    height: 60px; }
    .tabla-puc .table-planes .renta p {
      color:#2d2d2d;
      font-size: 30px;
      text-align: right;
      margin-right: 20px; }
      @media (max-width: 1200px) {
        .tabla-puc .table-planes .renta p {
          font-size: 25px; } }
      .tabla-puc .table-planes .renta p sup {
        font-size: 50%; }
  .tabla-puc .table-planes .eventos {
    background: #43b02a;
    margin: 0;
    padding: 20px 0;
    height: 100px; }
    .tabla-puc .table-planes .eventos p {
      color: #2d2d2d;
      font-size: 30px;
      text-align: right;
      margin-right: 20px; }
      @media (max-width: 600px) {
        .tabla-puc .table-planes .eventos p {
          font-size: 25px; } }
    .tabla-puc .table-planes .eventos sup {
      font-size: 50%; }
  .tabla-puc .table-planes .minutos {
    background: #a42081;
    height: 120px;
    margin-top: 4px;
    padding: 20px 0; }
    .tabla-puc .table-planes .minutos p {
      color: #2d2d2d;
      font-size: 35px;
      text-align: right;
      margin-right: 20px;
      margin-left: 100px;
      line-height: 1.2; }
      @media (max-width: 1200px) {
        .tabla-puc .table-planes .minutos p {
          font-size: 29px; } }
    .tabla-puc .table-planes .minutos sup {
      font-size: 50%; }
  .tabla-puc .table-planes .redes {
    background: #474141;
    height: 70px;
    margin-top: 4px;
    padding: 20px 0; }
    .tabla-puc .table-planes .redes p {
      color: #FFC600;
      font-size: 30px;
      text-align: right;
      margin-right: 20px; }
      @media (max-width: 1200px) {
        .tabla-puc .table-planes .redes p {
          font-size: 25px; } }
    .tabla-puc .table-planes .redes sup {
      font-size: 50%; }
  .tabla-puc .table-planes .radio {
    background: #B2A49C;
    height: 70px;
    margin-top: 4px;
    padding: 20px 0; }
    .tabla-puc .table-planes .radio p {
      color: #2d2d2d;
      font-size: 30px;
      text-align: right;
      margin-right: 20px; }
      @media (max-width: 1200px) {
        .tabla-puc .table-planes .radio p {
          font-size: 25px; } }
    .tabla-puc .table-planes .radio sup {
      font-size: 50%; }
.tabla-puc .recargas-table .detalles {
  min-height: 120px; }
  .tabla-puc .recargas-table .detalles .tab-llamadas p {
    font-size: 20px; }
    @media (max-width: 400px) {
      .tabla-puc .recargas-table .detalles .tab-llamadas p {
        font-size: 16px; } }
  .tabla-puc .recargas-table .detalles .two-blocks {
    width: 100%;
    letter-spacing: -0.35em; }
    .tabla-puc .recargas-table .detalles .two-blocks .numeros {
      min-height: 80px;
      background: #474141;
      width: 50%;
      display: inline-block;
      letter-spacing: normal; }
      .tabla-puc .recargas-table .detalles .two-blocks .numeros p {
        color: white;
        text-align: center;
        padding-top: 20px; }
        @media (max-width: 400px) {
          .tabla-puc .recargas-table .detalles .two-blocks .numeros p {
            font-size: 15px; } }
    .tabla-puc .recargas-table .detalles .two-blocks .comunidad {
      min-height: 80px;
      background: #a42081;
      width: 50%;
      display: inline-block;
      letter-spacing: normal; }
      .tabla-puc .recargas-table .detalles .two-blocks .comunidad p {
        color: white;
        text-align: center;
        padding-top: 20px; }
        @media (max-width: 400px) {
          .tabla-puc .recargas-table .detalles .two-blocks .comunidad p {
            font-size: 15px; } }
  .tabla-puc .recargas-table .detalles .center {
    text-align: center; }
  .tabla-puc .recargas-table .detalles .plan {
    background: #474141;
    height: 60px; }
    .tabla-puc .recargas-table .detalles .plan p {
      color: #FFC600;
      text-align: center;
      font-size: 25px;
      padding-top: 15px;
      font-family: "../fonts/gloriola/gloriolabold"; }
      @media (max-width: 1200px) {
        .tabla-puc .recargas-table .detalles .plan p {
          font-size: 22px; } }
      @media (max-width: 991px) {
        .tabla-puc .recargas-table .detalles .plan p {
          font-size: 40px; } }
      .tabla-puc .recargas-table .detalles .plan p span {
        display: none; }
        @media (max-width: 991px) {
          .tabla-puc .recargas-table .detalles .plan p span {
            display: inline-block; } }
  .tabla-puc .recargas-table .detalles .costo {
    background: #B2A49C;
    height: 60px; }
    .tabla-puc .recargas-table .detalles .costo p {
      color: #2d2d2d;
      text-align: center;
      font-size: 20px;
      padding-top: 15px; }
      @media (max-width: 1200px) {
        .tabla-puc .recargas-table .detalles .costo p {
          font-size: 18px; } }
      @media (max-width: 991px) {
        .tabla-puc .recargas-table .detalles .costo p {
          font-size: 40px; } }
      @media (max-width: 400px) {
        .tabla-puc .recargas-table .detalles .costo p {
          font-size: 18px; } }
      .tabla-puc .recargas-table .detalles .costo p span {
        display: none; }
        @media (max-width: 991px) {
          .tabla-puc .recargas-table .detalles .costo p span {
            display: inline-block; } }
  .tabla-puc .recargas-table .detalles .eventos {
    background: #cdc4c0;
    height: 100px; }
    .tabla-puc .recargas-table .detalles .eventos p {
      color: #474141;
      text-align: center;
      font-size: 20px;
      margin: 0 0 0px; }
      .tabla-puc .recargas-table .detalles .eventos p.space {
        padding-top: 20px; }
      .tabla-puc .recargas-table .detalles .eventos p.sub {
        font-size: 8px; }
      .tabla-puc .recargas-table .detalles .eventos p.sub-g {
        font-size: 11px; }
        .tabla-puc .recargas-table .detalles .eventos p.sub-g sup {
          font-size: 8px; }
  @media (max-width: 991px) {
    .tabla-puc .recargas-table .detalles .eventos p {
      font-size: 40px; }
      .tabla-puc .recargas-table .detalles .eventos p.space {
        padding-top: 20px; }
      .tabla-puc .recargas-table .detalles .eventos p.sub {
        font-size: 22px; }
      .tabla-puc .recargas-table .detalles .eventos p.sub-g {
        font-size: 25px; }
        .tabla-puc .recargas-table .detalles .eventos p.sub-g sup {
          font-size: 15px; } }
.tabla-puc .social-table .detalles {
  height: 70px;
  margin-top: 4px;
  background: #474141; }
  .tabla-puc .social-table .detalles .contenido {
    text-align: center;
    padding: 20px; }
    .tabla-puc .social-table .detalles .contenido p {
      display: inline-block;
      color: #FFC600;
      font-size: 23px; }
    .tabla-puc .social-table .detalles .contenido i {
      color: #FFC600;
      font-size: 20px; }
.tabla-puc .radio-d .detalles {
  height: 70px;
  margin-top: 4px;
  background: #B2A49C; }
  .tabla-puc .radio-d .detalles .contenido {
    text-align: center;
    padding: 20px; }
    .tabla-puc .radio-d .detalles .contenido p {
      color: #2d2d2d;
      font-size: 35px; }
.tabla-puc .llamadas-table .detalles {
  height: 120px;
  margin-top: 4px; }
  .tabla-puc .llamadas-table .detalles .numeros {
    position: relative;
    background: #474141;
    height: 60px; }
    .tabla-puc .llamadas-table .detalles .numeros p {
      color: #FFC600;
      text-align: center;
      font-size: 25px;
      padding-top: 15px;
      font-family: "../fonts/gloriola/gloriolabold"; }
      .tabla-puc .llamadas-table .detalles .numeros p.number {
        font-size: 45px;
        position: absolute;
        left: 8px;
        top: 5px; }
      .tabla-puc .llamadas-table .detalles .numeros p.description-number {
        font-family: "../fonts/gloriola/gloriolaregular";
        font-size: 12px;
        line-height: 18px;
        padding-left: 40px;
        text-align: left; }
        @media (max-width: 1200px) {
          .tabla-puc .llamadas-table .detalles .numeros p.description-number {
            font-size: 9px; } }
  .tabla-puc .llamadas-table .detalles .comunidad {
    background: #474141;
    margin-top: 4px;
    height: 56px; }
    .tabla-puc .llamadas-table .detalles .comunidad p {
      color: white;
      text-align: center;
      font-size: 10px;
      line-height: 15px;
      padding-top: 15px; }
.tabla-puc .llamadas-table .llamadas-r {
  position: absolute;
  height: 120px;
  margin-top: 3px;
  margin-left: 4px; }
  .tabla-puc .llamadas-table .llamadas-r .descripcion {
    background: #cdc4c0;
    height: 120px; }
    .tabla-puc .llamadas-table .llamadas-r .descripcion p {
      color: #474141;
      text-align: center;
      padding: 18px;
      font-size: 25px;
      margin-left: 85px;
      margin-right: 85px;
      line-height: 41px; }
      .tabla-puc .llamadas-table .llamadas-r .descripcion p sup {
        font-size: 15px; }
.tabla-puc .col-grid-13-1 {
  position: relative;
  width: 7.30%;
  display: inline-block; }
  @media (max-width: 1200px) {
    .tabla-puc .col-grid-13-1 {
      width: 7.20%; } }
  @media (max-width: 991px) {
    .tabla-puc .col-grid-13-1 {
      width: 100%;
      display: block; } }
.tabla-puc .col-grid-13-2 {
  position: relative;
  width: 14.99%;
  display: inline-block; }
.tabla-puc .col-grid-13-10 {
  position: relative;
  width: 84%;
  display: inline-block; }
.tabla-puc .col-grid-13-13 {
  position: relative;
  width: 99.5%;
  display: inline-block; }

.all-deals p, .pfs-10-20 {
  font-family: "../fonts/gloriola/gloriolabold"; }

.pfs-10-20, .pfs-adeals {
  vertical-align: middle;
  line-height: 40px;
  letter-spacing: 1px; }

#tabla-oferta h3 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 20px 0; }

#tabla-oferta h3:after {
  content: none; }

.ten-twenty {
  background: #FFC600;
  color: #404042;
  padding: 0; }

.ten-twenty p {
  color: #404042;
  text-align: center;
  font-weight: 700; }

.all-deals p, .tab-oferta1 p {
  color: #FFC600;
  text-align: center; }

.pfs-10-20 {
  font-size: 38px;
  margin: 0;
  padding: 15px 0; }

.ten-twenty span {
  font-size: 20px;
  font-weight: 600; }

.tab-oferta1 {
  background: #404042;
  margin: 0;
  padding: 20px 0;
  height: 110px; }

.tab-text-izq-1 {
  font-size: 40px; }

.tab-text-izq-2 {
  font-size: 15px;
  font-weight: 400; }

.all-deals span, .llamadas-p-1, .llamadas-p-2, .num-gratis p, .recarga-col-5 p, .roaming-tabla, .tab-radio-prip p, .tab-redes p, .wapp p {
  font-weight: 600; }

.all-deals {
  background: #404042;
  padding: 0; }

.pfs-adeals {
  font-size: 38px;
  margin: 0;
  padding: 15px 0; }

.all-deals span {
  font-size: 20px; }

.tab-adeals {
  background: #CAC1BA;
  margin: 0;
  padding: 20px 0;
  height: 110px; }

.tab-adeals p {
  color: #404042; }

.adeals-title {
  font-size: 30px; }

.adeals-subtitle {
  font-size: 25px; }

.dash {
  border: 3px dashed red; }

.pl-3, .recarga-col-1, .recarga-col-2, .recarga-col-4 {
  border-left: 4px solid #fff; }

.desk-hidden {
  display: none; }

.tab-llamadas, .tab-radio-prip, .tab-redes {
  text-align: center;
  padding: 15px 0;
  margin-top: 4px;
  border-left: 4px solid #fff; }

.rprip, .tab-radio-prip, .tab-redes, .wapp {
  height: 70px;
  margin-top: 4px; }

.tab-llamadas p, .tab-radio-prip p {
  color: #fff; }

.tab-radio-prip p, .tab-redes p {
  font-size: 35px;
  padding-top: 5px; }

.num-gratis {
  background: #43B02A;
  height: 100px;
  margin-top: 4px; }

.num-gratis p {
  color: #fff;
  padding-top: 20px;
  text-align: left;
  float: left; }

.cinco-gigante {
  font-size: 55px;
  margin-right: 12px;
  vertical-align: -moz-middle-with-baseline;
  padding-left: 13px;
  padding-top: 25px;
  padding-bottom: 50px;
  float: left;
  line-height: 0; }

.wapp {
  background: #FFC600; }

.wapp p {
  font-size: 20px;
  color: #404042;
  padding: 17px 0;
  text-align: center;
  line-height: 24px; }

.wapp .ion-social-whatsapp {
  font-size: 28px; }

.rprip {
  background: #FF970D;
  padding: 0 5px; }

.dias-recarga p, .recarga-col-1 p, .recarga-col-2 p, .recarga-col-3 p, .recarga-col-4 p, .rprip p {
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding-top: 6px; }

.recarga-col-5 p {
  color: #fff;
  text-align: left;
  padding-top: 6px;
  padding-left: 70px; }

.dias-recarga, .recarga-col-1 {
  background: #B2A49C; }

.recarga-col-2, .recarga-col-3, .recarga-col-5 {
  background: #D2CBC5; }

.recarga-col-4, .tab-llamadas {
  background: #00A9CE; }

.dias-recarga, .recarga-col-1, .recarga-col-2, .recarga-col-3, .recarga-col-4, .recarga-col-5 {
  height: auto;
  margin-top: 4px;
  padding-bottom: 5px; }

.tab-llamadas {
  height: 100px; }

.tab-llamadas p, .tab-radio-prip p, .tab-redes-invert p {
  font-family: "../fonts/gloriola/gloriolaregular"; }

.llamadas-p-2 {
  font-size: 40px; }

.tab-redes {
  background: #404042; }

.tab-redes p {
  color: #FEC62E; }

.tab-redes img {
  margin-top: -10px;
  margin-left: 4px; }

.tab-radio-prip {
  background: #FF970D; }

.roaming-tabla {
  text-align: center;
  font-size: 28px;
  margin: 25px 0 35px;
  line-height: 34px; }

@media (max-width: 1200px) {
  .llamadas-p-2, .pfs-10-20, .pfs-adeals {
    font-size: 30px; }

  .tab-adeals, .tab-oferta1 {
    height: 90px;
    padding: 10px 0; }

  .adeals-title {
    font-size: 28px;
    margin: 0 0 5px; }

  .cinco-gigante {
    font-size: 40px; }

  .ng-texto, .rprip p, .wapp p {
    font-size: 20px; }

  .num-gratis p {
    padding-top: 20px; }

  .num-gratis, .tab-llamadas {
    height: 90px; }

  .tab-llamadas {
    padding: 10px 0 0; }

  .wapp p {
    padding: 6px 0; }

  .wapp img {
    height: 29px; } }
.verde_nuevo {
  background: #43B02A;
  text-align: center; }

.verde_nuevo p {
  color: #fff;
  padding-top: 10px; }

@media (max-width: 991px) {
  .hidden_mobile {
    display: none; }

  .desk-hidden {
    display: block;
    margin-bottom: 30px; }

  .beneficios-paquetes li {
    margin-bottom: 15px; }

  .pfs-10-20, .pfs-adeals {
    font-size: 50px; }

  .pfs-adeals {
    font-family: "../fonts/gloriola/gloriolabold"; }

  .all-deals p {
    font-family: "../fonts/gloriola/gloriolamedium"; }

  .all-deals span, .ten-twenty span {
    font-size: 25px; }

  .tab-redes-invert {
    background: #FFC600; }

  .dias-recarga {
    background: #00A9CE; }

  .tab-llamadas {
    background: #43B02A; }

  .dias-recarga, .num-gratis, .rprip, .tab-llamadas, .tab-radio-prip, .tab-redes-invert, .verde_nuevo, .wapp {
    height: auto !important;
    border: none;
    padding: 10px;
    margin: 0; }

  .tab-redes-invert p {
    color: #404042; }

  .dias-recarga p, .num-gratis p, .rprip p, .tab-llamadas p, .tab-radio-prip p, .tab-redes-invert p, .wapp p {
    font-size: 20px;
    font-weight: 400; }

  .cinco-gigante {
    font-size: 30px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 0; }

  .pl-3 {
    border-left: none; }

  .num-gratis {
    float: left;
    width: 100%;
    height: 70px !important; }

  .num-gratis p, .num-gratis span {
    height: auto;
    margin: 0;
    padding: 0; }

  .recarga_m {
    margin-bottom: 30px !important;
    padding-right: 0 !important; } }
.loyalty_mobile {
  display: none; }

.azul_pl-3, .gris_pl-3, .verde_pl-3 {
  border-left: 5px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: '../fonts/gloriola/gloriolamedium', sans-serif;
  padding: 8px 0; }

.lealtad_recarga, .mini_mes {
  background: #333;
  color: #ffc600;
  text-align: center;
  font-size: 20px; }

.mini_mes {
  padding: 8px 0; }

.azul_pl-3 {
  background: #1ba9cc; }

.verde_pl-3 {
  background: #49ad35; }

.gris_pl-3 {
  background: grey; }

.bck_unefon_yellow {
  background: #ffc600; }

.bck_unefon_yellow span.big_number {
  font-family: '../fonts/gloriola/gloriolabold', sans-serif;
  font-size: 30px; }

.bck_unefon_yellow span.mini_number {
  font-family: '../fonts/gloriola/gloriolabold', sans-serif;
  font-size: 22px;
  margin-right: 2px; }

.bck_light_gray {
  background: #E6E6E6; }

.bck_light_gray, .bck_unefon_yellow {
  border-left: 5px solid #fff;
  text-align: center;
  font-size: 20px;
  font-family: '../fonts/gloriola/gloriolamedium', sans-serif;
  padding: 21px 0;
  margin: 5px 0;
  height: 70px; }

.lealtad_benefits, .lealtad_recarga span.big_number, .lealtad_recarga span.mini_number {
  font-family: "../fonts/gloriola/gloriolabold", sans-serif; }

.lealtad_benefits {
  padding: 22px 0;
  font-size: 23px;
  letter-spacing: 1px; }

.lealtad_recarga {
  padding: 38px 0;
  vertical-align: middle;
  border-top: 5px solid #fff; }

.lealtad_recarga p {
  color: #ffc600; }

.lealtad_recarga span.big_number {
  font-size: 30px; }

.lealtad_recarga span.mini_number {
  font-size: 22px;
  margin-right: 2px; }

@media all and (max-width: 1200px) {
  .azul_pl-3, .gris_pl-3, .verde_pl-3 {
    border-left: 3px solid #fff;
    font-size: 18px; }

  .bck_unefon_yellow span.big_number {
    font-family: '../fonts/gloriola/gloriolabold', sans-serif;
    font-size: 27px; }

  .bck_unefon_yellow span.mini_number {
    font-family: '../fonts/gloriola/gloriomedium', sans-serif;
    font-size: 22px;
    margin-right: 2px; }

  .lealtad_recarga {
    border-top: 3px solid #fff;
    padding: 36px 0; }

  .bck_light_gray, .bck_unefon_yellow {
    border-left: 3px solid #fff;
    margin: 3px 0; }

  .lealtad_benefits {
    font-family: '../fonts/gloriola/gloriolabold', sans-serif;
    font-size: 20px; } }
@media all and (max-width: 990px) {
  .loyalty_desktop {
    display: none; }

  .loyalty_mobile {
    display: block; }

  .loyalty_mobile p {
    color: #ffc600; }

  .l_mob_recarga {
    padding: 20px 0 4px; }

  .l_mob_recarga p {
    font-size: 25px; }

  .loyalty_mobile span.big_number {
    font-family: '../fonts/gloriola/gloriolabold', sans-serif;
    font-size: 30px; }

  .loyalty_mobile span.mini_number {
    font-family: '../fonts/gloriola/gloriolabold', sans-serif;
    font-size: 22px;
    margin-right: 2px; }

  .lealtad_benefits {
    font-family: '../fonts/gloriola/gloriolamedium', sans-serif;
    font-size: 20px;
    line-height: 28px; }

  .azul_pl-3, .bck_unefon_yellow, .gris_pl-3, .verde_pl-3 {
    border-left: 0;
    margin: 0; }

  .bck_unefon_yellow {
    height: auto;
    padding: 20px; }

  .gris_pl-3 {
    margin-bottom: 20px; } }

/*# sourceMappingURL=oferta.css.map */
