.cuerpo_faq, .cuerpo_video {
    color: #4f4f4f
}
#contenedor_faq, #contenedor_video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    left: 0;
    display: none
}
#contenedor_faq {
    z-index: 88;
    background: rgba(177, 164, 154, .8)
}
#contenedor_video {
    z-index: 99999;
    background: rgba(255, 198, 0, .9)
}
.video_portabilidad {
    margin-top: 50px
}
.cuerpo_faq {
    width: 480px;
    height: auto;
    background: #fff;
    border: none;
    margin: 130px auto;
    padding-bottom: 20px
}
.cuerpo_faq h2, .cuerpo_video h2 {
    font-size: 35px;
    color: #404042;
    background: #ffc600;
    padding: 30px 20px;
    font-weight: 300
}
.cuerpo_faq h3, .cuerpo_video h3 {
    font-size: 17px;
    color: #4f4f4f;
    margin: 0 20px;
    line-height: 20px
}
.cerrar, .video_portabilidad .cerrar {
    display: block;
    position: relative;
    width: 74px;
    height: 74px;
    text-indent: 999;
    color: transparent;
    cursor: pointer
}
.cuerpo_faq p, .cuerpo_video p {
    font-size: 15px;
    margin: 13px 20px;
    line-height: 20px
}
.video_portabilidad .cerrar {
    float: none;
    background: url(../img/close_circle-white.png) no-repeat;
    margin: 11px 15px 30px
}
.cerrar, .video_portabilidad .cerrar:hover {
    background: url(../img/close_circle-black.png) no-repeat
}
.cerrar {
    float: right;
    margin: 11px 15px 0
}
.cerrar:hover {
    background: url(../img/close_circle-white.png) no-repeat
}
@media all and (max-width:768px) {
    .cuerpo_faq {
        width: 93%;
        max-width: 750px;
        margin-right: 15px;
        margin-left: 15px
    }
}
